@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-arinttika {
  font-family: "Arinttika Signature Demo", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Arinttika Signature Demo";
  src: url("/fonts/ArinttikaSignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
